<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV757ebBkV2g5Kt0J0PAfMprjPxV04u_A</string>
	<key>GCM_SENDER_ID</key>
	<string>66873610716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daymatch.daymatch</string>
	<key>PROJECT_ID</key>
	<string>daymatch-fe77a</string>
	<key>STORAGE_BUCKET</key>
	<string>daymatch-fe77a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66873610716:ios:b22438e2a169ec84007f19</string>
</dict>
</plist>